svg .abobus{
    width: 1000px;
    height: 1000px;
}

svg > circle{
    fill:red;
} 

div .havesvg{
    border-width: 12px;
    border-color: blue;
    overflow: hidden;
}

svg .abobus{
    animation-name: slidein;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    width: 75%;
    height: 75%;
    min-width: 500px;
    min-height: 500px;
}
  
@keyframes slidein {
    
    0% {
        margin-left: 100%;
    }
  
    100% {
        margin-left: 0%;
    }
}