/* html{
    height: 1000%;
} */

body{
    margin: 0px;
    height: 100%;
}

main{
    height: 100%;
}

.abobus circle{
    fill:red;
} 

.havesvg{
    /*border: 2px solid black;*/
    overflow: hidden;
    width: 98%;
    height: 1000px;
}

.abobus{
    width: 75%;
    min-width: 500px;
    height: 100%;
    animation-name: slidein;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
 
@keyframes slidein {
    
    0% {
        margin-right: 50%;
        margin-bottom: 50%;
    }
  
    100% {
        margin-right: 0%;
        margin-bottom: 0%;
    }
}