/* html{
    height: 1000%;
}

body{
    margin: 0px;
    height: 100%;
}

main{
    height: 100%;
}

.abobus circle{
    fill: black;
    opacity: 50%;
} 

.havesvg{
    border: 2px solid black;
    overflow: hidden;
    width: 50%;
    height: 500px;
}

.abobus{
    width: 100%;
    height: 100%;
    animation-name: slidein;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
 
@keyframes slidein {
    
    0% {
        margin-left: -50%;
        margin-top: -50%;
    }
  
    100% {
        margin-left: 0%;
        margin-top: 0%;
    }
}*/

.havesvg{
    background-image: element(<svg></svg>);
}